# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2022 Andy Holmes <andrew.g.r.holmes@gmail.com>

root = true

[*]
insert_final_newline = true
end_of_line = lf
charset = utf-8

[*.{js,json,py,css}]
indent_style = space
indent_size = 4

[*.{build,xml,yml}]
indent_style = space
indent_size = 2

