/* SPDX-License-Identifier: GPL-3.0-or-later */
/* SPDX-FileCopyrightText: 2022 Andy Holmes <andrew.g.r.holmes@gmail.com> */


/* Battery Widget */
.valent-device-battery {
  spacing: 3px;
}

.valent-device-battery StLabel {
  font-size: 0.75em;
}

.valent-device-battery StIcon {
  icon-size: 16px;
}

